html{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
}

body{
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    overflow-y: auto;
    max-height: 80vh;
    background-color: #FFF;
    padding: 25px;
    border: 3px solid #00F;
    border-radius: 14px;
}

h1{
    margin: 0;
    font-size: 40px;
}

ul{
    padding: 14px;
    list-style: none;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container_int{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    border: 1px solid #00F;
    border-radius: 16px;
    margin-right: 10px;
    padding: 8px;
    width: 80%;
}

button:hover{
    background-color: #00F;
    color: #fff;
    border: 1px solid #00F;
}

button{
    border: 1px solid #00F;
    border-radius: 12px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}